* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(236, 242, 248, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.main_box {
    width: 1110px;
    height: 572px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.purple_box {
    width: 540px;
    height: 282px;
    background-color: rgba(115, 63, 200, 1);
    grid-column: 1 / 3;
    grid-row: 1;
    border-radius: 8px;
}

.gray_box {
    width: 255px;
    height: 282px;
    background-color: rgba(72, 85, 106, 1);
    grid-column: 3 / 4;
    grid-row: 1;
    border-radius: 8px;
}

.small_white_box {
    width: 255px;
    height: 266px;
    background-color: rgba(255, 255, 255, 1);
    grid-column: 1 / 2;
    grid-row: 2;
    border-radius: 8px;
}

.dark_box {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: rgba(25, 32, 45, 1);
    width: 540px;
    height: 266px;
    border-radius: 8px;
}

.big_white_box {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: rgba(255, 255, 255, 1);
    width: 255px;
    height: 572px;
    border-radius: 8px;
}

.purple_img {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.purple_img img {
    margin-left: 32px;
    margin-top: 26px;
    width: 28px;
    height: 28px;
    border-radius: 360px;
    border: 2px solid rgba(167, 117, 241, 1);
}

.info {
    margin-left: 17px;
    margin-top: 26px;
}

.info h4 {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.info p {
    font-size: 11px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
}

.main_text {
    width: 476px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.main_text p {
    font-size: 19px;
    font-weight: 600;
    color: white;
    line-height: 1.3;
}

.sub_text {
    width: 476px;
    height: 90px;
    margin-bottom: 32px;
    margin-top: 16px;
    margin-left: 32px;
}

.sub_text span {
    font-size: 11px;
    font-weight: 500;
    color: rgba(207, 207, 207, 1);
}


.gray_img {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.gray_img img {
    margin-left: 32px;
    margin-top: 26px;
    width: 28px;
    height: 28px;
    border-radius: 360px;
}

.gray_info {
    margin-left: 17px;
    margin-top: 26px;
}

.gray_info h4 {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.gray_info p {
    font-size: 11px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
}

.main_gray {
    width: 191px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.main_gray p {
    font-size: 19px;
    font-weight: 600;
    color: white;
    line-height: 1.3;
}

.sub_gray {
    width: 191px;
    height: 90px;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
}

.sub_gray span {
    font-size: 12px;
    font-weight: 500;
    color: rgba(207, 207, 207, 1);
}


.big_white_box_img {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.big_white_box_img img {
    margin-left: 32px;
    margin-top: 26px;
    width: 28px;
    height: 28px;
}

.big_white_info {
    margin-left: 17px;
    margin-top: 26px;
}

.big_white_info h4 {
    font-size: 13px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
}

.big_white_box p {
    font-size: 11px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
    opacity: 0.7;
}

.big_white_main {
    width: 191px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.big_white_main p {
    font-size: 19px;
    font-weight: 600;
    color: rgb(72, 85, 106);
    line-height: 1.3;
}

.sub_big_white {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.sub_big_white span {
    font-size: 12px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
}


.dark_box_img {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.dark_box_img img {
    margin-left: 32px;
    margin-top: 26px;
    width: 28px;
    height: 28px;
    border-radius: 360px;
    border: 2px solid rgba(167, 117, 241, 1);
}

.dark_info {
    margin-left: 17px;
    margin-top: 26px;
}

.dark_info h4 {
    font-size: 13px;
    font-weight: 500;
    color: rgba(236, 242, 248, 1);
}

.dark_box p {
    font-size: 11px;
    font-weight: 500;
    color: rgba(236, 242, 248, 1);
    opacity: 0.7;
}

.dark_main {
    width: 476px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.dark_main p{
    font-size: 19px;
    font-weight: 600;
    color: white;
    line-height: 1.3;
}

.sub_dark {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.sub_dark span{
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
}


.small_white_img {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.small_white_img img {
    margin-left: 32px;
    margin-top: 26px;
    width: 28px;
    height: 28px;
}

.small_info {
    margin-left: 17px;
    margin-top: 26px;
}

.small_info h4 {
    font-size: 13px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
}

.small_info p {
    font-size: 11px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
    opacity: 0.7;
}

.small_main {
    margin-left: 32px;
    margin-top: 18px;
    width: 191px;
    height: 72px;
}

.small_main p {
    font-size: 19px;
    font-weight: 600;
    color: rgba(72, 85, 106, 1);
    line-height: 1.3;
}

.sub_small {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.sub_small span {
    font-size: 12px;
    font-weight: 500;
    color: rgba(72, 85, 106, 1);
    opacity: 0.7;
}